@model IEnumerable<KidCloudProject.Models.Parent>

@{
    ViewBag.Title = "IndexParents";
}

<h2>Parents</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("# of Children")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildren)
            </td>
            <td>
                @Html.ActionLink("Details", "PrivateDetails", "Parents", new { id = item.Id }, null) |
                @Html.ActionLink("Remove", "Remove", "Parents", new { id = item.Id }, null) |
            </td>
        </tr>
    }
</table>
<hr />
<td>
    @Html.ActionLink("Back", "Index", "Users")
</td>