@model IEnumerable<KidCloudProject.Models.Application>
@{
    ViewBag.Title = "ViewPendingApplications";
}

<h2>Pending Applications</h2>

<div class="col-md-10">
    <div class="text-success">
        @TempData["Message"]
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Date Recieved")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Manage", "Application", "Parents", new { id = item.Parent.Id }, null)
            </td>
        </tr>
    }
</table>
<hr />
<td>
    @Html.ActionLink("Back", "Index", "Users")
</td>
