@model IEnumerable<KidCloudProject.Models.Parent>
@{
    ViewBag.Title = "ViewPendingApplications";
}

<h2>Pending Applications</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayName("# of Children")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildren)
            </td>
            <td>
                @Html.ActionLink("Check them out!", "Application", "Parents", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
<hr />
<td>
    @Html.ActionLink("Back", "Index", "Users")
</td>
