@model KidCloudProject.Models.DailyReport

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DailyReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BathroomUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BathroomUse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sleep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sleep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuppliesNeeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuppliesNeeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiscellaneousNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiscellaneousNotes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
