@model KidCloudProject.Models.DailyReport

@{
    ViewBag.Title = "Details";
}

<h2>Daily Report</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Child's Id")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChildId)
        </dd>

        <dt>
            @Html.DisplayName("Report Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportDate)
        </dd>

        <dt>
            @Html.DisplayName("Bathroom")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BathroomUse)
        </dd>

        <dt>
            @Html.DisplayName("Food")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meals)
        </dd>

        <dt>
            @Html.DisplayName("Sleep")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sleep)
        </dd>

        <dt>
            @Html.DisplayName("Activity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityReport)
        </dd>

        <dt>
            @Html.DisplayName("Bring Supplies")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuppliesNeeds)
        </dd>

        <dt>
            @Html.DisplayName("Mood")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mood)
        </dd>

        <dt>
            @Html.DisplayName("Misc. Notes")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiscellaneousNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @*@Html.ActionLink("Back to List", "Index") //Admin only*@
    @Html.ActionLink("Back", "Index", "Users")
</p>
