
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin.</h1>
    <h3>
        <li>@Html.ActionLink("View Parents", "Index", "Parents")</li>
        <li>@Html.ActionLink("View Children", "Index", "Children")</li>
        <li>@Html.ActionLink("View Employees", "Index", "Employees")</li>
        <li>@Html.ActionLink("View Day-Cares", "Index", "DayCares")</li>
        <li>@Html.ActionLink("View Daily Reports", "Index", "DailyReports")</li>
    </h3>
}
else if (ViewBag.displayMenu == "Parent")
{
    <h2>Welcome <strong>@ViewBag.Name</strong>!</h2>
    <h3>
        <li>@Html.ActionLink("My Account", "Details", "Parents", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("My Day-Care", "Details", "DayCares", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("View/Edit Calendar", "Calendar", "DayCares", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("My Current Balance", "ViewBalance", "Parents", new { id = ViewBag.Id }, null)</li>
    </h3>
}
else if (ViewBag.displayMenu == "Employee")
{
    <h2>Welcome <strong>@ViewBag.Name</strong>!</h2>
    <h3>
        <li>@Html.ActionLink("My Account", "Details", "Employees", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("View/Edit Calendar", "Calendar", "DayCares", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("View Parents", "IndexParents", "DayCares", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("View Children", "IndexChildren", "DayCares", new { id = ViewBag.Id }, null)</li>
    </h3>
}
else if (ViewBag.displayMenu == "DayCare")
{
    <h2>Welcome <strong>@ViewBag.Name</strong>!</h2>
    <h3>
        <li>@Html.ActionLink("My Account", "Details", "DayCares", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("View/Edit Calendar", "Calendar", "DayCares", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("View Parents", "IndexParents", "DayCares", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("View Children", "IndexChildren", "DayCares", new { id = ViewBag.Id }, null)</li>
    </h3>
}
@*else if (ViewBag.displayMenu == "Child")
{
    <h2>Welcome <strong>@ViewBag.Name</strong>!</h2>
    <h3>
        <li>@Html.ActionLink("My Account", "Details", "DayCares", new { id = ViewBag.Id }, null)</li>
    </h3>
}*@

