@model KidCloudProject.Models.DayCare
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin.</h1>
    <div class="col-md-10">
        <div class="text-success">
            @TempData["Message"]
        </div>
        <div class="text-danger">
            @TempData["ErrorMessage"]
        </div>
    </div>
    <hr />
    <h3>
        <li>@Html.ActionLink("View Parents", "Index", "Parents")</li>
        <li>@Html.ActionLink("View Children", "Index", "Children")</li>
        <li>@Html.ActionLink("View Employees", "Index", "Employees")</li>
        <li>@Html.ActionLink("View Day Cares", "Index", "DayCares")</li>
        @*<li>@Html.ActionLink("View Daily Reports", "Index", "DailyReports")</li> //this should in View Day-Cares*@
    </h3>
}
else if (ViewBag.displayMenu == "Parent")
{
    <h2>Welcome <strong>@ViewBag.Name</strong>!</h2>
    <br />
    <div class="col-md-10">
        <div class="text-success">
            @TempData["Message"]
        </div>
        <div class="text-warning">
            @TempData["ErrorMessage"]
        </div>
    </div>
    <hr />
    <h3>
        <br />
        <li>@Html.ActionLink("My Account", "Details", "Parents", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("My Children", "ViewChildren", "Parents", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("My Current Balance", "ViewBalance", "Parents", new { id = ViewBag.Id }, null)</li>
        <hr />
        <li>@Html.ActionLink("My Day Care", "Details", "DayCares", new { id = ViewBag.Id }, null)</li>
        @*<li>@Html.ActionLink("View/Edit Calendar", "Calendar", "DayCares", new { id = ViewBag.Id }, null)</li> //this will go inside daycare along with chat*@
    </h3>
    <hr />
    <div class="col-md-10">
        @using (Html.BeginForm("ParentsIndexByChild", "DailyReports", FormMethod.Post))
        {
            <fieldset>
                <dl>
                    <dt>
                        <h2>@Html.Label("View Daily Reports")</h2>
                    </dt>
                    <dd>
                        @Html.DropDownList("Children", "Select Child")
                    </dd>
                </dl>
            </fieldset>
            <input class="btn btn-default" type="submit" value="Show Me" />
        }
    </div>
    <br /><br />
    <div class="col-md-10">
        <div class="text-warning">
            @TempData["ErrorMessage1"]
        </div>
    </div>
    <hr />
    <div class="col-md-10">
        <h2>@Html.Label("Find the right day care!")</h2>
        @using (Html.BeginForm("FindDayCares", "DayCares", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.ZipCode, new { placeholder = "Zip Code" })
            @Html.ValidationMessageFor(model => model.ZipCode)
            <button class="btn btn-default" type="submit">Search</button>
        }
    </div>
    <br /><br />
    <div class="col-md-10">
        <div class="text-warning">
            @TempData["ErrorMessage2"]
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><hr />
}
else if (ViewBag.displayMenu == "Employee")
{
    <h2>Welcome <strong>@ViewBag.Name</strong>!</h2>
    <h3>
        <li>@Html.ActionLink("My Account", "Details", "Employees", new { id = ViewBag.Id }, null)</li>
        <hr />
        <li>@Html.ActionLink("My Day Care", "Details", "DayCares", new { id = ViewBag.Id }, null)</li>
        @*<li>@Html.ActionLink("View/Edit Calendar", "Calendar", "DayCares", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("View Parents", "IndexParents", "DayCares", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("View Children", "IndexChildren", "DayCares", new { id = ViewBag.Id }, null)</li>*@
        @*//all three of these should be in the My DareCare along with Chat*@
    </h3>
}
else if (ViewBag.displayMenu == "DayCare")
{
    <h2>Welcome <strong>@ViewBag.Name</strong>!</h2>
    <br />
    <div class="col-md-10">
        <div class="text-success">
            @TempData["Message"]
        </div>
        <div class="text-danger">
            @TempData["ErrorMessage"]
        </div>
    </div>
    <hr />
    <h3>
        <li>@Html.ActionLink("My Account", "Details", "DayCares", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("Add New Employee", "Create", "Employees", new { id = ViewBag.Id }, null)</li>
        <hr />
        <li>@Html.ActionLink("Manage Pending Applications", "ViewPendingApplications", "DayCares")</li>
        <hr />
        <li>@Html.ActionLink("View/Edit Calendar", "Calendar", "DayCares", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("View Parents", "IndexParents", "DayCares", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("View Children", "IndexChildren", "DayCares", new { id = ViewBag.Id }, null)</li>
        <hr />
        @*<li>@Html.ActionLink("View All Daily Reports", "PrivateIndex", "DailyReports", new { id = ViewBag.Id }, null)</li>*@
    </h3>
    <div class="col-md-10">
        @using (Html.BeginForm("PrivateIndexByChild", "DailyReports", FormMethod.Post))
        {
            <fieldset>
                <dl>
                    <dt>
                        <h3>@Html.Label("View Daily Reports")</h3>
                    </dt>
                    <dd>
                        @Html.DropDownList("Children", "Select Child")
                    </dd>
                </dl>
            </fieldset>
                <input class="btn btn-default" type="submit" value="Show Me" />
        }
    </div>
    <br /><br />
    <div class="col-md-10">
        <div class="text-danger">
            @TempData["ErrorMessage1"]
        </div>
    </div>
    <br /><br /><br />
    <div class="col-md-10">
        @using (Html.BeginForm("Create", "DailyReports", FormMethod.Get))
        {
            <fieldset>
                <dl>
                    <dt>
                        <h3>@Html.Label("New Daily Report")</h3> 
                    </dt>
                    <dd>
                        @Html.DropDownList("Children", "Select Child")
                    </dd>
                </dl>
            </fieldset>
            <input class="btn btn-default" type="submit" value="Create"/>
        }
    </div>
    <br /><br />
    <div class="col-md-10">
        <div class="text-danger">
            @TempData["ErrorMessage2"]
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><hr />
}


