@model KidCloudProject.Models.Parent
@{
    ViewBag.Title = "Application";
}

<h2>Application</h2>

<div>
    <hr />
    <h4>Parent</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Age")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayName("Street Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayName("City")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayName("State")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayName("Zip Code")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayName("Phone #")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayName("Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayName("# of Children")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfChildren)
        </dd>
        <br />
        <h4>Children</h4>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("First Name")
                </th>
                <th>
                    @Html.DisplayName("Last Name")
                </th>
                <th>
                    @Html.DisplayName("Age")
                </th>
                <th>
                    @Html.DisplayName("Half Day")
                </th>
                <th>
                    @Html.DisplayName("Full Day")
                </th>
                <th>
                    @Html.DisplayName("Allergies")
                </th>
                <th>
                    @Html.DisplayName("Allergies Details")
                </th>
                <th>
                    @Html.DisplayName("Medications")
                </th>
                <th>
                    @Html.DisplayName("Medication Instructions")
                </th>
                <th>
                    @Html.DisplayName("Food Requirements")
                </th>
                <th>
                    @Html.DisplayName("Food Instructions")
                </th>
                <th>
                    @Html.DisplayName("Special Names")
                </th>
                <th>
                    @Html.DisplayName("Special Needs Type")
                </th>
                <th>
                    @Html.DisplayName("Special Needs Requirements")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Children)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HalfDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasAllergies)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AllergiesDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TakesMedications)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicationInstructions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasSpecialFoodRequirements)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FoodRequirementsInstructions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasSpecialNeeds)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialNeedsType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialNeedsRequirements)
                    </td>
                </tr>
            }
        </table>
    </dl>
</div>
<br />
<hr />
@using (Html.BeginForm("AcceptApplication", "DayCares", new { applicationId = Model.Id }, FormMethod.Post, null))
{
    <button class="btn btn-default" type="submit">Accept</button>
}
<br />
@using (Html.BeginForm("DenyApplication", "DayCares", new { applicationId = Model.Id }, FormMethod.Post, null))
{
    <button class="btn btn-default" type="submit">Deny</button>
}
<hr />
<p>
    @Html.ActionLink("Back", "Index", "Users")
</p>
