@model IEnumerable<KidCloudProject.Models.Child>

@{
    ViewBag.Title = "ViewChildren";
}

<h2>My Children</h2>

<p>
    @Html.ActionLink("Register New Child", "Create", "Children")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Children", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Children", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Children", new { id = item.Id }, null) |
            </td>
        </tr>
    }
</table>
<hr />
<td>
    @Html.ActionLink("Back", "Index", "Users")
</td>