@model IEnumerable<Twilio.Rest.Chat.V2.Service.Channel.MessageResource>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="">
    <div class="messages-container">
        <div class="messages" id="messages">
            @foreach (var m in Model)
            {
                <div class="message">
                    <div class="message-icon">

                    </div>
                    <div class="message-body">
                        <div class="message-info"><strong>@m.From</strong> <small>@m.DateCreated.Value.ToLocalTime().ToString("h:mm tt")</small></div>
                        <div class="message-text">@m.Body</div>
                    </div>
                </div>
            }
        </div>
        <div class="input-group">
            @Html.TextBox("body", null, new { @class = "form-control border-top-radius-none width-100", @id = "messageInput" })
            <span class="input-group-btn">
                <input class="btn btn-default border-top-radius-none" type="submit" value="Send" id="sendMessage">
            </span>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>

<script>
    var messages = document.getElementById("messages");
    var messageInput = document.getElementById("messageInput");
    messages.scrollTop = messages.scrollHeight;
    
    $(function () {
        var chat = $.connection.testHub;
        chat.client.addNewMessageToPage = function (name, message, time) {
            $("#messages").append(
                "<div class='message'>" +
                    "<div class='message-icon'></div>" +
                    "<div class='message-body'>" +
                        "<div class='message-info'><strong>" + name + "</strong> <small>" + time + "</small></div>" +
                        "<div class='message-body'>" + message + "</div>" + 
                    "</div>" +
                "</div>");
            messageInput.focus();
            messages.scrollTop = messages.scrollHeight;
        };
        $.connection.hub.start().done(function() {
            $("#sendMessage").click(function () {
                chat.server.send($("#messageInput").val(), "@ViewBag.UserName");
                messageInput.value = "";
            });
        });
    });
</script>