@model IEnumerable<KidCloudProject.Models.Child>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Register New Child", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("First Name")
        </th>
        <th>
            @Html.DisplayName("Last Name")
        </th>
        <th>
            @Html.DisplayName("Age")
        </th>
        <th>
            @Html.DisplayName("Half Day")
        </th>
        <th>
            @Html.DisplayName("Full Day")
        </th>
        <th>
            @Html.DisplayName("Allergies")
        </th>
        <th>
           @Html.DisplayName("Allergies Details")
        </th>
        <th>
            @Html.DisplayName("Medications")
        </th>
        <th>
            @Html.DisplayName("Medication Instructions")
        </th>
        <th>
            @Html.DisplayName("Food Requirements")
        </th>
        <th>
            @Html.DisplayName("Food Instructions")
        </th>
        <th>
            @Html.DisplayName("Special Names")
        </th>
        <th>
            @Html.DisplayName("Special Needs Type")
        </th>
        <th>
            @Html.DisplayName("Special Needs Requirements")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HalfDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasAllergies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllergiesDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TakesMedications)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicationInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasSpecialFoodRequirements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodRequirementsInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasSpecialNeeds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialNeedsType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialNeedsRequirements)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
